In [2]:
import pandas as pd
import numpy as np
import os
os.getcwd()

'C:\\Users\\Jyothi'

In [4]:
os.chdir("C:\\Users\\Jyothi\\Desktop\\Jigsaw\Python\\")

In [5]:
stack=pd.read_csv("stackoverflow.csv",sep=",",header=0)

In [7]:
#To find Number of rows & columns
stack.shape

(6991, 23)

In [8]:
# To view the top few rows
stack.head()

,RespondentID,Country,Salary,YearsCodedJob,OpenSource,Hobby,CompanySizeNumber,Remote,CareerSatisfaction,Datascientist,...,DevOps,Embedded developer,Graphic designer,Graphics programming,Machine learning specialist,Mobile developer,Quality assurance engineer,Systems administrator,Web developer,
0,3,United Kingdom,113750.0,20,1,1,10000.0,Not remote,8,0,...,0,0,0,0,0,0,0,0,0,NaN
1,15,United Kingdom,100000.0,20,0,1,5000.0,Remote,8,0,...,0,1,0,0,0,0,0,0,0,NaN
2,18,United States,130000.0,20,1,1,1000.0,Remote,9,0,...,1,1,0,0,0,0,1,0,1,NaN
3,19,United States,82500.0,3,0,1,10000.0,Not remote,5,0,...,0,0,0,0,0,0,0,0,1,NaN
4,26,United States,175000.0,16,0,1,10000.0,Not remote,7,0,...,0,0,0,0,0,0,0,0,1,NaN

In [9]:
#Check the type/class of the dataset
type(stack)

pandas.core.frame.DataFrame

In [10]:
#To find missing values
stack.isnull().sum()

RespondentID                               0
Country                                    0
Salary                                     0
YearsCodedJob                              0
OpenSource                                 0
Hobby                                      0
CompanySizeNumber                         31
Remote                                     0
CareerSatisfaction                         0
Datascientist                              0
Database administrator                     0
Desktop applications developer             0
Developer with stats/math background       0
DevOps                                     0
Embedded developer                         0
Graphic designer                           0
Graphics programming                       0
Machine learning specialist                0
Mobile developer                           0
Quality assurance engineer                 0
Systems administrator                      0
Web developer                              0
                                        6991
dtype: int64

In [12]:
#To print the names of all the columns in the dataset
print(stack.columns.tolist())

['RespondentID', 'Country', 'Salary', 'YearsCodedJob', 'OpenSource', 'Hobby', 'CompanySizeNumber', 'Remote', 'CareerSatisfaction', 'Datascientist', 'Database administrator', 'Desktop applications developer', 'Developer with stats/math background', 'DevOps', 'Embedded developer', 'Graphic designer', 'Graphics programming', 'Machine learning specialist', 'Mobile developer', 'Quality assurance engineer', 'Systems administrator', 'Web developer', '    ']

In [13]:
#There are five unique countries in the dataframe stackoverflow.
stack['Country'].unique()

array(['United Kingdom', 'United States', 'Germany', 'India', 'Canada'],
      dtype=object)

In [14]:
#There are 43 Indian Data Scientists present in the data & maximum datascientists are from US at 266
stack.groupby(['Country'],as_index=False).agg({'Datascientist': np.sum})

          Country  Datascientist
0          Canada             43
1         Germany             75
2           India             43
3  United Kingdom             77
4   United States            266

In [18]:
#Finding out how many respondents work remotely in this data.
stack.groupby('Remote')['Remote'].count()
#6273 respondents work remotely

Remote
Not remote    6273
Remote         718
Name: Remote, dtype: int64

In [17]:
#Finding the count of Germans who have more than 10 years of coding experience
stack.loc[(stack["Country"]=="Germany") & (stack["YearsCodedJob"]>10),:].shape[0]
#181 Germans have more than 10 years of coding experience

181

In [19]:
#Listing the country wise maximum average Salary from highest to least
stack.groupby(['Country'],as_index=False).agg({'Salary': np.mean}).sort_values("Salary",ascending=False)

          Country        Salary
4   United States  98313.127654
0          Canada  58226.407451
3  United Kingdom  53962.871808
1         Germany  52405.823429
2           India  11557.674529

In [20]:
#Finding which country has least remote workers using map-lamda function
stack['Remote_label']=stack['Remote'].map(lambda x:1 if x=="Remote" else 0)
stack.groupby(['Country'],as_index=False).agg({'Remote_label':np.sum})
#Canada has the least remote workers

          Country  Remote_label
0          Canada            43
1         Germany            49
2           India            66
3  United Kingdom            85
4   United States           475

In [16]:
#What is the percentage of Mobile Developers in the data ?
stack.groupby('Mobile developer')['Mobile developer'].count()/stack.shape[0]
#80.6% of the total employees are not mobile developers while 19.4% are mobile developers

Mobile developer
0    0.806036
1    0.193964
Name: Mobile developer, dtype: float64

In [21]:
#Find the percentage of Web Developers in the data.
stack.groupby('Web developer')['Web developer'].count()/stack.shape[0]
#There are 72.4% web developers in the data

Web developer
0    0.275926
1    0.724074
Name: Web developer, dtype: float64

In [22]:
#What is the number of profiles who are Mobile Developers and Web Developers and who work remotely?
#There are 115 mobile & web developers who work remotely
stack.loc[(stack["Mobile developer"]==1) & (stack["Web developer"]==1) & (stack["Remote_label"]==1),:].shape[0]

115

In [23]:
#Grouping the companysizenumber into 3 categories in a new column 'Company-label'
def new_func(x):
    if x  < 20:
        return "Low"
    elif  20 <= x <= 1000:
        return "Medium"
    else:
        return "High"

In [24]:
stack['Company_label'] = stack['CompanySizeNumber'].map(new_func)

In [26]:
#Finding the number of respondents belonging to each catergory of 'Company_label'
stack.groupby('Company_label')['Company_label'].count()

Company_label
High      1530
Low       1156
Medium    4305
Name: Company_label, dtype: int64

In [27]:
#Find the maximum salary and average years of coding job of profiles by each Country
stack.groupby('Country').agg({'Salary':np.max,'YearsCodedJob':np.mean}).sort_values("Salary",ascending=False)

                     Salary  YearsCodedJob
Country
United States   197000.0000       8.397877
United Kingdom  193750.0000       7.315748
India           163134.7967       3.696697
Canada          151515.1515       7.523425
Germany         140000.0000       7.058947

In [29]:
#How many are either Data scientists or Developers with stats/math background or Machine learning specialists.
stack.loc[(stack["Developer with stats/math background"]==1) | (stack["Datascientist"]==1) | (stack["Machine learning specialist"]==1),:].shape[0]

1129